<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= opts.roomWord %> <%= roomId %></title>

  <link rel="icon" type="image/png" href="/favicon.png">

</head>
<body>
  <nav>
    <a href="/"><%= opts.title %></a>
  </nav>
  <h1><%= opts.roomWord %> "<%= roomId %>"</h1>

  <form enctype="multipart/form-data" method="post">
    <input name="files" type="file" multiple="multiple"><br>
    <input type="submit" value="Upload file">
  </form>

  <% if (files.length === 0) { %>
  <p>No files uploaded yet.</p>
  <% } else { %>
    <ul>
    <% files.forEach((file, index) => { %>
      <li><a href="<%= file %>"><%= file %></a></li>
    <% }) %>
    </ul>

    <form action="clear" method="post">
      <input type="submit" value="Remove all">
    </form>
  <% } %>
</body>
</html>
